.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this to position the logo absolutely relative to the header */
    min-height: 80px;
}

.logo-container {
    flex: 0 1 auto; /* Adjust the flex-basis to control the width */
    padding-right: 20px; /* Or adjust as needed */
    position: relative; /* Changed from flex to relative */
    z-index: 2; /* Ensures the logo floats above other elements */
}

.burger-container {
    padding-right: 0;
}

.logo {
    /* Adjust the size as needed to match your design */
    height: auto;
    max-width: 100px; /* You can set a specific width if required */
    position: absolute;
    top: -35px; /* Adjust this value to control how much the logo overlaps */
    left: -15px; /* Adjust for horizontal positioning */
}

.nav-container {
    flex: 1; /* Take up the remaining space */
    display: flex;
    justify-content: center; /* Center the navigation items horizontally */
}

.nav-items {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 50px; /* Adjust the gap as needed */
}

.anchor {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25em;
}

.anchor:hover {
    text-decoration: underline; /* Or change color */
}

.language-toggle {
    flex: 0 1 auto; /* Adjust the flex-basis to control the width */
    display: flex;
    align-items: center;
    height: 100%;
}

.language-button {
    background: none; /* Removes the background */
    border: none; /* Removes the border */
    color: black; /* Set the text color */
    font-size: 1.25em; /* Adjust the font size as needed */
    padding: 0 10px; /* Adjust the padding as needed */
    margin: auto; /* Adds space between buttons */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}


/* Add a separator for visual distinction */
.language-separator {
    color: black; /* Match the color with buttons */
    padding: 0 10px; /* Space around the separator */
}

.burger {
    display: none; /* Hide by default */
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
    margin: 0;
    box-shadow: #2b2f32;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically on small screens */
        padding: 15px 20px; /* Reduced padding for smaller screens */
    }

    .logo-container {
        position: static; /* Revert back to default positioning */
        padding-bottom: 10px; /* Add space below the logo */
        display: flex;
        justify-content: center; /* Center logo on small screens */
    }

    .logo {
        position: static; /* Revert back to default */
        max-width: 80px; /* Optional: Adjust size for smaller screens */
        top: auto; /* Reset top positioning */
        left: auto; /* Reset left positioning */
    }

    .nav-items {
        flex-direction: column; /* Stack nav items vertically on small screens */
        margin: 0 0 0 -30px;
        gap: 5px; /* Reduced gap for smaller screens */
    }

    .language-toggle {
        justify-content: center; /* Center language buttons on small screens */
        padding-top: 10px; /* Add space above the language buttons */
    }

    .language-button {
        padding: 5px; /* Adjust padding for smaller screens */
        font-size: 1.3em; /* Reduce font size for smaller screens */
    }

    .language-separator {
        display: none; /* Hide separator on small screens */
    }

    .burger {
        display: block; /* Show the burger icon on small screens */
    }

    .nav-container {
        display: none; /* Hide the navigation on small screens */
    }

    .header.nav-visible .nav-container {
        display: flex; /* Show the navigation when nav-visible class is added */
        flex-direction: column; /* Stack items vertically */
    }
}
